<div>
  <div class="cities-list">
    <div class="cities-list-title">
      <h1>Cities</h1>
    </div>
    <app-city-list></app-city-list>
  </div>
  <div class="weather-card">
    <div class="city-title">
      <h1 *ngIf="selectedCity">{{ selectedCity.name }}</h1>
      <img
        *ngIf="selectedCity"
        width="40"
        alt="more info"
        src="../assets/info.svg"
        (click)="goToMoreInfo()"
      />
      <h1 *ngIf="!selectedCity">Select a city</h1>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
