/* You can add global styles to this file, and also import other style files */

html {
  background-color: #1976d2;
}

body {
  overflow: hidden;
  .content {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    border-radius: 25px 25px 0 0;
    box-shadow: 0 5px 5px 0 inset rgba(0, 0, 0, 0.3);
    margin: 0;
  }
}


